*{
  font-family: Futura, Arial, Times, serif;
  color: #150F58 ; 
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 16em;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #150F58;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 260px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.navbar-brand {
	font-size: 5em !important;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.navbar {
  height: 4em;
  background-color: transparent;
  position: fixed;
}

.nav-item{
  font-size: 3em;
  margin-right: 1em; 
}

.nav-link{
  color: white;
}

.nav-link:hover {
  color: #150F58 ;
}

#navbar-content{
  padding-left: 7em;
  padding-top: 4em;
}


.li { display: inline;
	color: green; 
}

.jumbotron {
  background-color: transparent;
}

#eg{
	background-color: blue;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
  margin-top: 2em;
}
.grid-item {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: 
}

#main_page{
  background-color: #3AABB5  ;
}