#ecoexchange-logo{
	padding-left: 1em;
	font-size: 8em;
	font-style: italic;
	padding-top: 0.5em;
	color: #125156;
}

#slogan_ecoexchange{
	font-size: 3em;
	padding-top: 1em;
	padding-left: 2em;
}

.buy-token-title{
	font-size: 1.7em;
	color: #125156;
}

#titulo-token-for-sale{
	font-size: 2.5em;
	color: #FCB6BE;
	font-style: italic;
}