#slogan_mitsein {
	padding-top: 1em;
	font-size: 9em;
}

#concept_mitsein {
	text-align: center;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 1.5em;
	font-size: 5em;
	color: #840B3E;
}

#nombre_mama{
	padding: 
	margin-right
}

#grid-item1{
	background-color: #B4F1B5 ;
	color: #D6351C;
}

#grid-item2{
	background-color: #B4F1B5 ;
	color: #D6351C;
}

#grid-item3{
	background-color: #B4F1B5 ;
	color: #D6351C;
}

#grid-item4{
	background-color: #B4F1B5 ;
	color: #D6351C;
}

#grid-item5{
	background-color: #B4F1B5 ;
	color: #D6351C;
}

#grid-item6{
	background-color: #B4F1B5 ;
	color: #D6351C;
}

#grid-item7{
	background-color: #B4F1B5 ;
	color: #D6351C;
}

#grid-item8{
	background-color: #B4F1B5 ;
	color: #D6351C;
}

#grid-item9{
	background-color: #B4F1B5 ;
	color: #D6351C;}

#logo_img{
  height: 10px;
  width: 10px;
}