{% extends "bootstrap/base.html" %}

{% block title %}
Mitsein
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ecoexchange.css') }}">
{% endblock %}

{% block navbar %}
<div id="main_page">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">Mitsein</a>
    <a id="ecoexchange-logo">Ecoexchange</a>
  </nav>
{% endblock %}

{% block content %}

<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>
<div class="container main">
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 id="slogan_ecoexchange" align="center">Help finance our obligation as humanity</h1>
  <br>
  <br>
  <br>
  <br>
  <h1 id="titulo-token-for-sale">Tokens for sale</h1>
  <br>
  <div>
    <h1 class="buy-token-title"> Mitsein</h1>
    <br>
    <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                      <canvas id="canvas"></canvas>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            const config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Mitsein Token Price",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Real Time Chart'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Value'
                            }
                        }]
                    }
                }
            };

            const context = document.getElementById('canvas').getContext('2d');

            const lineChart = new Chart(context, config);

            const source = new EventSource("/chart-data-mitsein");

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if (config.data.labels.length === 1000) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                }
                config.data.labels.push(data.time);
                config.data.datasets[0].data.push(data.value);
                lineChart.update();
            }
        });
    </script>
    <br>
    <div>
      <h1>BUY</h1>
      <form action="/buy-stock-mitsein" method="post" id="form">
        <label for="num">Amount of ethereum: </label>
        <input type="text" id="num" name="amount_eth" autofocus autocomplete="off">
        <label for="num">Price limit: </label>
        <input type="text" id="num" name="price" autofocus autocomplete="off">
        <label for="address">Your wallet address: </label>
        <input type="text" id="address" name="address" autofocus autocomplete="off">
        <button type="submit" value="Buy" />
      </form>
    </div>
    <div>
      <h1>SELL</h1>
      <form action="/sell-stock-mitsein" method="post" id="form">
        <label for="num">Amount of ethereum: </label>
        <input type="text" id="num" name="amount_eth" autofocus autocomplete="off">
        <label for="num">Price limit: </label>
        <input type="text" id="num" name="price" autofocus autocomplete="off">
        <label for="address">Your wallet address: </label>
        <input type="text" id="address" name="address" autofocus autocomplete="off">
        <button type="submit" value="Buy" />
      </form>
    </div>
    <h1>{{token_price}}</h1>
    <h1>{{orders_dict}}</h1>
  </div>
  <br>
  <br>
</div>
</div>>

  </div>
  <br>
  <br>
</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% endblock %}