{% extends "bootstrap/base.html" %}

{% block title %}
Mitsein
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ecoexchange.css') }}">
{% endblock %}

{% block navbar %}
<div id="main_page">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">Mitsein</a>
    <a id="ecoexchange-logo">Ecoexchange</a>
  </nav>
{% endblock %}

{% block content %}

<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>
<div class="container main">
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 id="slogan_ecoexchange" align="center">Help finance our obligation as humanity</h1>
  <br>
  <br>
  <br>
  <br>
  <h1 id="titulo-token-for-sale">Tokens for sale</h1>
  <br>
  <div>
    <h1 class="buy-token-title"> Buy Mitsein tokens:</h1>
    <br>
    <form method="post" id="form">
      <label for="num">Amount of ethereum: </label>
      <input type="text" id="num" name="number" autofocus autocomplete="off">
      <label for="address">Your wallet address: </label>
      <input type="text" id="address" name="address" autofocus autocomplete="off">
      <button>Buy</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
      $('#form').on('submit', function(e){
        var number = $('#num').val();
        var address = $('#address').val();
        e.preventDefault();
        $.ajax({
          url: 'http://127.0.0.1:5000/buy-stock/',
          data: {'number': number, 'address': address },
          method: 'POST',
          success: function(data) {
            $('#num').val('');
            $('#buy-stock')
          }
        });
      });
    </script>
  </div>
  <br>
  <br>
</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% endblock %}