{% extends "bootstrap/base.html" %}

{% block title %}
Mitsein
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light main">
  <a class="navbar-brand" href="/">Mitsein</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %}

{% block content %}

<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>
<div class="container main">
  <br>
  <br>
  <h1 align="center">Help finance our obligation as humanity.</h1>
  <br>
  <h1> Projects </h1>
  <div class="grid-container">
      <div class="grid-item"><a>Vision</a></div>
        <div class="grid-item"><a>Involvement</a></div>
        <div class="grid-item"><a>Innerworkings</a></div>
        <div class="grid-item"><a>Team</a></div>
        <div class="grid-item"><a>Services</a></div>
        <div class="grid-item"><a>Government</a></div>
        <div class="grid-item"><a>Economic system</a></div>
        <div class="grid-item"><a>Healthcare</a></div>
      <div class="grid-item"><a>Fight against global warming</a></div>
  </div>
  <form method="post" id="form">
    <label for="num">Amount of money: </label>
    <input type="text" id="num" name="number" autofocus autocomplete="off">
    <label for="address">Address: </label>
    <input type="text" id="address" name="address" autofocus autocomplete="off">
    <button>Buy</button>
  </form>
</div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
      $('#form').on('submit', function(e){
        var number = $('#num').val();
        var address = $('#address').val();
        e.preventDefault();
        $.ajax({
          url: 'http://127.0.0.1:5000/buy-stock/',
          data: {'number': number, 'address': address },
          method: 'POST',
          success: function(data) {
            $('#num').val('');
            $('#buy-stock')
          }
        });
      });
    </script>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% endblock %}