{% extends "bootstrap/base.html" %}

{% block title %}
Mitsein
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
{% endblock %}

{% block navbar %}
<div id="main_page">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">Mitsein</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="navbar-content">
        <li class="nav-item">
          <a class="nav-link " href="/ecoexchange" role="button">
            EcoExchange
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/signup" role="button">
            Create account
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Next generation government</h1>
    <div class="grid-container">
      <div class="grid-item"><a>Vision</a></div>
      <div class="grid-item"><a>Involvement</a></div>
      <div class="grid-item"><a>Innerworkings</a></div>
      <div class="grid-item"><a>Team</a></div>
      <div class="grid-item"><a>Services</a></div>
      <div class="grid-item"><a>Government</a></div>
      <div class="grid-item"><a>Economic system</a></div>
      <div class="grid-item"><a>Healthcare</a></div>
      <div class="grid-item"><a>Fight against global warming</a></div>
    </div>
  </div>
<div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  <h4 id="list-item-1">Goal</h4>
  <p>Our main goal is to provide the world with the dramatic socio-economical shift that is needed to solve problems such as climate change, over exploitation of resources, general individualisic societal mentality, poverty, lack of access to a proper education, lack of access to quality and rewarding jobs and inflation. on top of this, to ensure mass adoption and participation we will dedicate our efforts to establish communication and organization between people and open the sea of opportunities they have to express their dreams and ideas. We are giving power to the people 
  </p>
  <h4 id="list-item-2">Elements</h4>
  <ul class="list-group">
  <li class="list-group-item list-group-item-success">Stable decentralized currency</li>
  <li class="list-group-item list-group-item-danger">Innovation</li>
  <li class="list-group-item list-group-item-info">Gaian Economics: Sustainable development</li>
  <li class="list-group-item list-group-item-warning">Government owned by its participants</li>
  <li class="list-group-item list-group-item-light">Philosophical message</li>
  <li class="list-group-item list-group-item-success">State owned companies</li>
  <li class="list-group-item list-group-item-danger">Ethical alignment</li>
  <li class="list-group-item list-group-item-info">Redefinition of labbour and acces to work</li>
  <li class="list-group-item list-group-item-warning">Redefinition of education and access to education</li>
  <li class="list-group-item list-group-item-light">Economical organization and communication</li>
  <li class="list-group-item list-group-item-success">Access to financing and mentoring</li>
  <li class="list-group-item list-group-item-danger">100% transparent</li>
  <li class="list-group-item list-group-item-info">Community makes the desitions</li>
  <li class="list-group-item list-group-item-warning">Adoption of automation always in societies best interest</li>
  <li class="list-group-item list-group-item-light">Central organizer and orchestrator (at the beginning at least)</li>
</ul>
  <h4 id="list-item-3">Founder</h4>
  <p>...</p>
</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% endblock %}